{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="DOCKIE">
    <meta name="author" content="CirXe0N">
    <title> DOCKIE </title>

    {# STYLESHEETS #}
    <link rel="stylesheet" href="{% static 'web/css/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% sass_src 'web/sass/base.sass' %}">
    {% block add_stylesheets %}{% endblock %}

    {# JAVASCRIPT #}
    <script src="{% static 'web/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'web/js/foundation.min.js' %}"></script>
    {% block add_head_js %}{% endblock %}
</head>
<body>
    {% block navigation %}
        {# NAVIGATION #}
        <div class="top-bar">
            <div class="row columns">
                <div class="top-bar-title" onclick="location.href='{% url 'dock_overview' %}';">
                    DOCKIE
                </div>
                <div class="top-bar-right">
                    {% if not user.is_authenticated %}
                        <ul class="menu">
                            <li>
                                <a class="hollow button" href="{% url 'authentication' %}">LOGIN</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="menu">
                            <li>
                                <a>
                                    Welcome,
                                    <span onclick="location.href='{% url 'user_profile' %}';">
                                        {{ user.first_name }} {{ user.last_name }}
                                    </span>
                                    |
                                </a>
                            </li>
                            <li>
                               <a class="logout" href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        {# HEADER #}
        <div class="site-header">
            <div class="row">
                {% block page-title %}{% endblock %}
                {% block dock-details %}{% endblock %}
            </div>
        </div>
    {% endblock %}



    {# CONTENT #}
    <div class="row columns">
        <div class="content-container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>